<html>
<head>
<style>
  body {
    background:#fff;
    color:#222;
    cursor:auto;
    font-family:Helvetica,sans-serif;
    font-style:normal;
    line-height:1.5;
    padding:0;
  }
  li {
    display:block;
    list-style:none;
  }
  .podcast_image {
    width: 300px;
  }
</style>
</head>
<body>
<img class="podcast_image" src="https:{{podcast.image.file.url}}"/>
<h1>{{{podcast.title}}}</h1>
<h2>{{{podcast.subtitle}}}</h2>
<p>{{{podcast.description}}}</p>
<ul>
{{#each episodes}}
  <li><a href="{{media}}">{{slug}}</a></li>
{{/each}}
</ul>
</body>
</html>
