<html>
<head>
<style>
  body {
    background:#fff;
    color:#222;
    cursor:auto;
    font-family:Helvetica,sans-serif;
    font-style:normal;
    line-height:1.5;
    padding:0;
  }
  ul {
    padding:0;
  }
  li {
    display:block;
    list-style:none;
  }
  .center {
    margin:auto;
    width:50%;
    padding:10px;
  }
  .podcast_image {
    width:100%;
    max-width:600px;
  }
</style>
</head>
<body class="center">
<img class="podcast_image" src="https:{{podcast.image.file.url}}"/>
<h1>{{{podcast.title}}}</h1>
<h2>{{{podcast.subtitle}}}</h2>
<p>{{{podcast.description}}}</p>
<ul>
{{#each episodes}}
<li><a href="{{media}}">{{slug}}</a></li>
{{/each}}
</ul>
<a href="http://thethirdreel.com/feed.rss">subscribe with RSS</a>
<a href="">subscribe with iTunes</a>
<a href="">Youtube</a>
<a href="">Twitter</a>
<a href="">Facebook</a>
<a href="">Soundcloud</a>
</body>
</html>
